@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import "variables";

.footer {
  display: flex;
  justify-content: center;
  background: $footer-background;
  width: 100%;

  // padding: 20px 40px;
  .footer-container {
    width: 100%;
    max-width: $max-screen-size;
    padding: 20px 50px;

    .sitemap {
      display: flex;
      flex-direction: row;

      ul {
        width: 300px;

        li {
          padding: 2px 0px;
        }
      }
      ul[title]::before {
        content: attr(title);
        display: block;
        font-weight: bold;
      }
    }
  }
}
