.landing_page {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #cccbcb;
    padding: 5px 16px;
    background: #3171B2;

    .navbar-brand .logo {
      height: 40px;
    }
    .navbar-nav {
      display: flex;
      flex-direction: row;
      .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
      }
    }
    .btn {
      border-radius: 500px;
    }
  }
}

.logo-a {
  // background-image: url('/remember_the_bacon.png');
  // background-repeat: no-repeat;
  // background-size: 179px auto;
  // margin: 12px 0 0 2px;
  // z-index: 2;
}

.first-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 88%;
  padding-top: 20px;

  .content {
    display: flex;
    width: 100%;
    flex-direction: row;
    .jumbotron {
      padding: 1rem 2rem;
      background-color: #0000;
      .title {
        padding-bottom: 40px;
      }
      .btn-group {
        display: flex;
        flex-direction: column;
        .btn {
          border-radius: 500px;
        }
        .privacy-policy {
          font-size: 12px;
          padding: 10px 16px;
        }
      }
    }
  }
}
@media screen and (max-width: 992px) {
  .first-section {
    width: 100%;
  }
}


.second-section {
  display: none;
  background: #EAEAEC

}
