@import "variables";

.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #cccbcb;
  background: $nav-bar-color;

  .nav-container {
    width: 100%;
    max-width: $max-screen-size;
    display: flex;
    justify-content: space-between;
    padding: 4px 30px;
    background: $nav-bar-color;

    .navbar-brand .logo {
      height: 40px;
    }
    .navbar-nav {
      display: flex;
      flex-direction: row;
      .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
      }
    }
    .btn {
      border-radius: 500px;
    }
  }
}
